#heading {
    color: red;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.header-logo{
    width:200px;
}

.header-nav-links{
    display: flex;
    margin: 20px;
}

.header-nav-links > ul{
    display: flex;
}

.header-nav-links > ul > li {
    padding: 0 20px;
    font-size: 24px;
    list-style-type: none;
}

.restaraunt-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card-container{
    background-color: #F0F0F0;
    width: 200px;
    /* height: 300px; */
    padding: 5px;
    border: 1px solid;
    margin: 5px;
}

.search{
    margin: 20px;
}

.res-logo{
    width:100%;
    height: 40%;
}
.filter-btn{
    margin: 10px;
}

.cuisines-descrition {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
    margin: 10px;
}